 body {
    height: 100vh;
    margin: 0;
    padding: 0;

}

.clock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.battery{
    margin-top: 73px;
    margin-left: 720px;
    margin-bottom: 20px;
    font-size: 25px;
}

.low-battery #time{
    background-color: black;
    color:black;
    background-image: url('low-battery.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
}

#time {
    font-size: 5em;
    width: 869px;
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-color: rgb(130, 196, 255);
    color: rgb(7, 11, 61); 
}

.alarm{
    display: flex;
    flex-direction: row;
    width: 854px;
    height: 229px;
    border: 1.5px solid black; 
    border-radius: 5px; 
    margin-top: 25px;
}

.alarm-items{
    margin: 17px 33px 0 19px;
    width: 327px;
    height: 188px;
    background-color: rgb(218, 238, 255);
    border-radius: 10px;
}

.alarm-setting{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.time-setting{
    display: flex;
    flex-direction: row;
}

.hour, .min, .sec {
    width: 131px;
    height: 49px; 
    margin-right: 19px;
    border-radius: 15px;
    border: none;
    background-color: aliceblue;
}

input {
    font-size: 25px;
    text-align: center; 
}

.edit{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.add, .del{
    width: 91px;
    height: 43px;
    margin-top: 19px;
    margin-right: 73px;
    background-color: rgb(193, 226, 255);
    border-radius: 15px;
    font-size: 15px;
    border: none;
}

.alarm-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 15px 30px;
    font-size: 20px;
}

.delete-btn {
    cursor: pointer;
    color: red;
    margin-left: 10px;
}